* {
  margin: 0;
}
.dark-theme {
  --main-heading: white;
  --text-color: white;
  --btn: white;
  --border: yellowgreen;
}
.main-body {
  --text-color: rgb(0, 0, 0);
    --main-heading: rgb(59, 58, 58);
  --btn: white;
  --border: yellowgreen;

}

.container {
  background-color: var(--main-heading);
}
.header{
  color:var(--main-heading)
}